ion-toolbar {
    --background: #007aff;
    --color: #eceef3;
  }

ion-content {
    --background: #eceef3;
}

ion-tab-bar {
    --background: #dfe6f5;
    --color:#2a2e3a;
    --border: 0px;
}

/* Add  tool bar color */
.add-toolbar{
    --background: #273b66;
  }

  .image-background{
    --background: dark;
    display: flex;
    justify-content: center;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    --width: 100%;
  }
  
  /* Input field styling */
  .input-item {
    width: 100%;
    margin-bottom: 1rem;
    --background: transparent; /* Ensure background is white */
    --color: #1d2029;
  }
  
  /* Custom input fields */
  .custom-input {
    --border-radius: 6px;
    --placeholder-color: #999;
  }
  
  /* Submit button styling */
  .submit-button {
    width: 100%;
    --background: #007aff; /* Ionic primary color */
    --color: white;
    --border-radius: 1rem;
    padding: 1rem;
  }
  
  .add-task-button{
    --background: #273b66;
    color: #ffffff;
  }

  .submit-button:hover {
    --background: #005ecb;
  }
  